

body
{
    height:100%;
    margin:0;
    
}


.banana-zone {   
    margin: 0px;
    top :0;
    left :0;
    height: 100%;
    width: 50%;
    position: absolute;

    z-index: 3;
    margin-left: auto;
    opacity: 50;
    overflow: hidden;
}

.question {
    color: aliceblue;
    position:absolute;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
/*#banana{
    background: rgb(250,5,38);
    animation: bcout1 1s 1 forwards;
}*/
@keyframes bcout1 {
    from {
        background: rgb(255, 120, 138);
    }
    to {
        background: rgb(250,5,38);
    }
}

@keyframes bc1 {
    from {
        background: rgb(250,5,38);
    }
    to {
        background: rgb(255, 120, 138);
    }
}

/*#banana:hover {
    animation: bc1 1s 1 forwards;
}


#banana2{
    background: rgb(0,89,255);
    animation: bcout2 1s 1 forwards;
}
@keyframes bc2 {
    from {
        background: rgb(0,89,255);
    }
    to {
        background: rgb(120,167,255);
    }
}

@keyframes bcout2 {
    from {
        background: rgb(120,167,255);
    }
    to {
        background: rgb(0,89,255);
    }

}


#banana2:hover
{
    animation:bc2 1s 1 forwards;
    
}
*/
.b2{
    right:0;
}

.banana-zone:focus
{
    outline:none;
}
