body {
  height: 100%;
  margin: 0;
}

.banana-zone {
  margin: 0px;
  top: 0;
  height: 100%;
  position: fixed;
display:block;
  z-index: 2;
  margin-left: auto;
  opacity: 50;
  overflow: visible;
}
.redSelected{
  background: pink;
  z-index: 4;
  transition: background 1.3s, width 1s;
}
.redUnSelected {
  background: red;
  left:0px;
  width:50%;
  float:left;
  transition: background 1.3s;
}
.blueUnSelected {
  background: blue;
  right:0px;
  width:50%;
  float:right;
  transition: background 1.3s;
}
.blueSelected{
  background: lightblue;
  z-index: 4;
  right:0;
  transition: background 1.3s, width 1s;
}

.redUnSelected:hover {
  background: pink;
}


.blueUnSelected:hover {
  background: lightblue;
}
