/* Code Repurposed from: https://blog.hubspot.com/website/html-dropdown*/
.dropDownMenu{
    display: flex;
    flex:auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 7;
    width:700px;   
}
.dropDownButton{   
    padding:20px 325px;
}

.dropDownMenu:hover{
    background: transparent;
    transform: translate(0, 0px);
    transition: opacity 1s;
}
.dropDownMenu:hover .dropDownContent{
    display:inline-block;
    min-height: 40px;
    background: transparent;
    opacity:1;
}
.dropDownContent{  
    display:none;
    position: absolute;
    overflow: none;
    z-index: 10;
    opacity:0;  
}
.dropDownContent a {
    background-color: white;
    padding:150px 100px;
    display:inline-block;
    text-align:center;
    text-decoration: none;
    transition: background-color .5s;
    outline:1px grey solid;
 
}
.dropDownContent a:hover{
    background-color: lightgray;
    transition: background-color .5s;
}