.hoverDownGrid{
    display: block;
    margin: 0 auto;
    position:fixed;
    bottom:0;
    right: 50%;
    left: 25%;
    margin-left: -350px;
    z-index: 7;
    width:700px;
    text-align: center;
    transform: translate(25vw, 135px);  
    transition:transform .5s;
}
.hoverDownGrid:hover,.hoverDownGrid:focus{
    transform: translate(25vw, 0); 
    transition:transform .4s;
      
}
.gridContent{
    display:inline-grid;
    grid-template-columns: repeat(3,175px);
    grid-template-rows: 50px 135px ;
    overflow:hidden;

}
.gridContent span{
    display:flex;
    overflow:hidden;
    align-items:flex-end;
    justify-content:center;
    background-color: white;
    text-align:center;
    text-decoration: none;
    transition: background-color .5s;
    border-bottom:1px grey solid;
}
.gridContent span:nth-child(4){
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridContent span:hover:not(span:nth-child(4)){
    background-color: lightgray;
}
