:root{
    --hoverDownWidth: 10vw;
    --hoverDownHeight:15vh;
}
@media screen and (max-height: 600px )
{
    :root{
        --hoverDownHeight:20vh;
    }
}
.hoverDownGrid{
    display: block;
    margin: 0 auto;
    position:absolute;
    bottom:0;
    left:calc(var(--hoverDownWidth)*1.5);
    margin-left: calc(var(--hoverDownWidth)/-2);
    z-index: 7;
    width:calc(var(--hoverDownWidth)*3);
    text-align: center;
    transform: translate(25vw, var(--hoverDownHeight));  
    transition:transform .5s;
}
.hoverDownGrid:hover,.hoverDownGrid:focus{
    transform: translate(25vw, 0); 
    transition:transform .4s;
      
}
.gridContent{
    position: relative;
    display:inline-grid;
    grid-template-columns: repeat(3,var(--hoverDownWidth));
    grid-template-rows: 9vh var(--hoverDownHeight);
    overflow:hidden;    background-image: linear-gradient(
        to right,
        rgba(226,210,40,255) 0,rgba(226,210,40,255) 33.3%,
         rgba(255,166,51,255) 33.4%,rgba(255,166,51,255) 66.6%,
         rgba(255,81,62,255) 66.7%, rgba(255,81,62,255) 100%);
    outline: 2px black solid;
    border-radius: 20% 20% 0px 0px;
    opacity: 35%;
    transition:opacity .4s;

}
.gridContent span,
.gridContent span a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:.9vw;
    display:flex;
    overflow:visible;
    align-items:flex-end;
    justify-content:center;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: background-color .5s;
    
}
.gridContent span img, 
.gridContent span a{
    max-width: 100%;
    width:var(--hoverDownWidth);
    height: var(--hoverDownHeight);
    position: absolute;
    
}
.gridContent span:nth-child(4){
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 3vw;
    background-image: linear-gradient(
        to right,
        rgba(226,210,40,255) 0,rgba(226,210,40,255) 33.3%,
         rgba(255,166,51,255) 33.4%,rgba(255,166,51,255) 66.6%,
         rgba(255,81,62,255) 66.7%, rgba(255,81,62,255) 100%);
    color: white;
    /*Text-Shadow Outline From : https://owumaro.github.io/text-stroke-generator/*/
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    font-weight: bold;
    padding:0px;
    user-select: none;
}
.gridContent:hover{
    transition:opacity .4s;   
    opacity: 100%;
}
.gridContent span:hover:not(span:nth-child(4)){
    background-color: rgb(255, 255, 255);
   color: black;
}


