.modalStuff{
    display: flex;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    z-index: 20;
}
.modalBackground{
    display: flex;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 19;
}
.modalContent{
    background-color: white;
    width: 30vw;
    height: 48vh;
    padding: 0px;
    border-radius: 25px;
}
.modalContent button{
    padding: 1vh 1.5vw;
    position:absolute;
    left:22.5vw;
    background: white;
    font-weight: bolder;
    font-size:30px;
    font-size: 5vw;
    border:none;
    transition: background-color .3s;
    border-radius: 25px;
}
.modalContent button:hover{
    background-color: lightgray;
    border-radius: 25px;
    transition: background-color .3s;
}
.modalContent h1{
    font-size: 3.4vw;
    padding-left: 2.2vw;
    padding-top: 3.5vh;
    padding-bottom: 2vh;
    text-decoration: 5px underline;
    margin:0px;
    font-weight: bolder;
}
.modalContent p{
    font-size: 1.8vw;
    max-width: 27vw;
    padding-left: 2vw;
}
.modalContent a{
    font-size: 1.3vw;
    max-width: 27vw;
    padding-left: 2vw;
}