.question {
    color: white;
    position: absolute;
    font-size: 4vw;
    top: 25vh;
    max-Width: 35vw;
    text-align:center;
    
    z-index: 10;
    user-select: none;
    margin:-5vw;
    background-color: transparent;
    pointer-events: none;
    text-transform : capitalize;
    
  }

  #Percentage-Numbers span{
    top:70vh;
    font-size:7vw;
  }
  #Percentage-Numbers text{
    top:85vh;
    font-size: 3vw;
  }